        .container {
            width: 80%;
            margin: 20px auto 0px auto;
        }

        .removed label {
            text-decoration: line-through;
        }

        ul li {
            list-style-type: none;
        }

        ul li span {
            margin-left: 5px;
        }

        .footer {
            font-size: 0.7em;
            margin-top: 20vh;
        }

        .box_list {
            padding: 15px;
            background: #dcdcaa;
            color: #1c1d1d;
            float: left;
            border: 1px solid #1c1d1d;
            margin: 3px;
            border-radius: 5px;
            cursor: pointer;

        }

        .box_list:hover {
            background: #bdbd88;
        }

        .main {
            border: 2px solid #1c1c1c;
            padding: 20px;
            text-align: center;
            border-radius: 10px;
            margin-top: 10px;
        }

        .wordsShow {
            font-size: 60px;
            font-weight: bold;
            margin: 40px 0px;
        }

        .wordsShow.big {
            margin: 65px 0px;
            font-size: 85px;
        }

        .wordsShow.big2 {
            margin: 65px 0px;
            font-size: 120px;
        }

        .wordsdiv {
            margin: 10px;
        }

        .btnn {
            background: orange;
        }

        .btns {
            background: #ff44ff;
        }

        .diso {
            display: none;
        }

        .oneback {
            color: #333333;
        }

        .oneback2 {
            color: #228822;
        }

        .mt10 {
            margin: 10px 0px;
        }

        .w120 {
            width: 120px;
        }

        .addborder {
            border: solid 2px #1c1c1c;
            border-radius: 15px;
            padding: 15px;
        }

        .shownr {
            float: right;
            font-size: 10px;
        }

        .box_list {
            font-size: 23px;
            display: inline-block;
        }

        .quizbox {
            display: inline-block;
            margin: 2px;
            padding: 2px;
            font-size: 20px;

        }

        .quizbox button {
            font-size: 20px;
            border-radius: 10px;
        }

        .quizbox button:hover {
            background: darkorange;
        }